//- http://codetunnel.com/blog/post/how-to-toggle-jade-layout-in-express-for-nodejs
if req.xhr
  block content
else
  doctype html
  html(lang="en")
    head
      if uri == '/'
        title="p.rex"
      else if uri
        title="p.rex - " + uri
      else
        title="p.rex"
      link(rel='stylesheet', href='/bower_components/prism/themes/prism-twilight.css', type='text/css')
      link(rel='stylesheet', href='/bower_components/prism/plugins/line-numbers/prism-line-numbers.css', type='text/css')
      script(src='/js/rex.min.js')

    body
      p Rendering content block!
      block content
      p Content block rendered!