//- http://codetunnel.com/blog/post/how-to-toggle-jade-layout-in-express-for-nodejs
if req.xhr
  block content
else
  doctype html
  html(lang="en")
    head
      if uri == '/'
        title="p.rex"
      else if uri
        title="p.rex - " + uri
      else
        title="p.rex"
      link(rel='stylesheet', href='/css/rex.css', type='text/css')
      link(rel='stylesheet', href='/js/bower_components/prism/themes/prism-twilight.css', type='text/css')
      script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')

    body
      div(class='row')
        div(class='large-12 columns')
          block content


      script(src='/js/rex.min.js')