//- http://codetunnel.com/blog/post/how-to-toggle-jade-layout-in-express-for-nodejs
if req.xhr
  block content
else
  doctype html
  <!--[if IE 9]<html class="lt-ie10" lang="en"><![endif]] -->
  html(lang="en")
    head
      if uri == '/'
        title="p.rex"
      else if uri
        title="p.rex - " + uri
      else
        title="p.rex"

      //- Meta and Resource Tags
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/normalize/2.1.3/normalize.min.css', type='text/css')
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Open+Sans:300|Montserrat:400,700', type='text/css')
      link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.11.0/css/semantic.min.css', type='text/css')
      link(rel='stylesheet', href='/css/rex.min.css', type='text/css')

      script(src='//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js')
      script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
      script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js')
      script(src='//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js')
      script(src='//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.11.0/javascript/semantic.min.js')
      script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.0/moment.min.js')
      script(src='/js/rex.min.js')

    body
      header
        h1(class='centered logo') PIERCE MOORE

      include sidebar

      .ui.grid
        .ui.center.aligned.one.column.grid
          .column
            block content

            .ui.dimmer
              .ui.loader

      script
        :coffee(bare=true)
          $ ->
            $('.ui.sidebar').sidebar('push page')
