//- http://codetunnel.com/blog/post/how-to-toggle-jade-layout-in-express-for-nodejs
if req.xhr
  block content
else
  doctype html
  <!--[if IE 9]<html class="lt-ie10" lang="en"><![endif]] -->
  html(lang="en")
    head
      if uri == '/'
        title="p.rex"
      else if uri
        title="p.rex - " + uri
      else
        title="p.rex"

      //- Meta and Resource Tags
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet', href='/css/rex.min.css', type='text/css')
      script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
      script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js')
      script(src='//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js')
    body
      header(style="text-align: center;")
        h1 pierce moore

        div(class='row')
          div(class='small-10 medium-6 small-centered columns', style='text-align: center;background: #222;')
            div(data-magellan-expedition='fixed')
              dl(class='sub-nav')
                dd(data-magellan-arrival='github')
                  a(href='#github') github
                dd(data-magellan-arrival='portfolio')
                  a(href='#portfolio') portfolio
                dd(data-magellan-arrival='music')
                  a(href='#music') music

        div(class='row')
          div(class='small-12 columns')
            a(name='github')
            h3(data-magellan-destination='github') github
            div(style='height: 500px;display: block;')
              &nbsp;

        div(class='row')
          div(class='small-12 columns')
            a(name='portfolio')
            h3(data-magellan-destination='portfolio') portfolio
            div(style='height: 500px;display: block;')
              &nbsp;

        div(class='row')
          div(class='small-12 columns')
            a(name='music')
            h3(data-magellan-destination='music') music
            div(style='height: 500px;display: block;')
              &nbsp;



      script(src='/js/rex.min.js')