.ui.small.menu
  a.active.item
    i.home.icon
    | HOME

  .ui.dropdown.item
    i.rss.icon
    | BLOG
    i.dropdown.icon
    .menu
      a(class='item', href='#')
        | JAVASCRIPT
        .ui.blue.label 0
      a(class='item', href='#')
        | GIT
        .ui.blue.label 0
      a(class='item', href='#')
        | NODE
        .ui.blue.label 0
      a(class='item', href='#')
        | PHP
        .ui.blue.label 0

  .ui.dropdown.item
    .i.code.icon
    | CODE
    .menu
      a(class='item', href='#') SNIPPETS
        .ui.blue.label 0
      a(class='item', href='#') REPOSITORIES
  a(class='item', href='#')
    i.folder.open.outline.icon
    | PORTFOLIO
  a(class='item', href='#')
    i.list.icon
    | RESUME
  .ui.dropdown.item LINKS
    .menu
      a(class='item', href='#')
        i.github.icon
        | GITHUB
      a(class='item', href='#') NPM
      a(class='item', href='#') TWITTER
      a(class='item', href='#') LINKEDIN

script
  :coffee(bare=true)
    $ ->
      $('.ui.dropdown').dropdown()