<div class="ui large vertical sidebar menu active">
  <a class="hide item menuclose">
    <i class="close icon"></i> HIDE MENU
  </a>

  <a href="/" class="active header item">
    <i class="home icon"></i>HOME</a>
  <a href="/blog" class="header item"><i class="rss icon"></i>BLOG
    <div class="menu">
      <div class="item">
        <div class="ui input">
          <input type="text" placeholder="SEARCH..."/>
        </div>
      </div><a href="/blog/tag/javascript" class="item">JAVASCRIPT
        <div class="ui blue label">0</div></a><a href="/blog/tag/git" class="item">GIT
        <div class="ui blue label">0</div></a><a href="/blog/tag/node" class="item">NODE
        <div class="ui blue label">0</div></a><a href="/blog/tag/php" class="item">PHP
        <div class="ui blue label">0</div></a>
</div>
</a>
<div class="header item"><i class="code icon"></i>CODE
  <div class="menu"><a href="/snippets" class="item">SNIPPETS
        <div class="ui blue label">0</div></a><a href="/repos" class="item">REPOSITORIES
        <div class="ui blue label">0</div></a>
  </div>
</div><a href="/portfolio" class="header item"><i class="folder open outline icon"></i>PORTFOLIO</a><a href="/resume" class="header item"><i class="list icon"></i>RESUME</a>
<div class="header item">LINKS
  <div class="menu"><a href="https://github.com/rex" class="item"><i class="github icon"></i>GITHUB</a><a href="https://npmjs.org/~piercemoore" class="item">NPM</a><a href="http://twitter.com/kiapierce" class="item">TWITTER</a><a href="#" class="item">LINKEDIN</a>
  </div>
</div>
</div>
<div style="width: 60px;" class="ui blue huge menutoggle right attached button"><i class="icon list layout"></i>
  <span style="display: none;" class="text">MENU</span>
</div>
