.ui.large.vertical.sidebar.menu.active
  a.hide.item.closemenu
    i.close.icon
    | HIDE MENU
  a.active.header.item(href='/')
    i.home.icon
    | HOME
  //- a.header.item(href='/blog')
  //-   i.rss.icon
  //-   | BLOG
  //-   .menu
  //-     .item
  //-       .ui.input
  //-         input(type='text', placeholder='SEARCH...')
  //-     a.item(href='/blog/tag/javascript') JAVASCRIPT
  //-       .ui.blue.label 0
  //-     a.item(href='/blog/tag/git') GIT
  //-       .ui.blue.label 0
  //-     a.item(href='/blog/tag/node') NODE
  //-       .ui.blue.label 0
  //-     a.item(href='/blog/tag/php') PHP
  //-       .ui.blue.label 0

  .header.item
    i.code.icon
    | CODE
    .menu
      //- a.item(href='/snippets') SNIPPETS
        .ui.blue.label 0
      a.item(href='/repos') REPOSITORIES
        .ui.blue.label 0
  //- a.header.item(href='/portfolio')
  //-   i.folder.open.outline.icon
  //-   | PORTFOLIO
  a.header.item(href='/resume')
    i.list.icon
    | RESUME
  .header.item LINKS
    .menu
      a.item(href='https://github.com/rex')
        i.github.icon
        | GITHUB
      a.item(href='https://npmjs.org/~piercemoore') NPM
      a.item(href='http://twitter.com/kiapierce') TWITTER
      a.item(href='#') LINKEDIN

.ui.blue.huge.menutoggle.right.attached.button(style='width: 60px;')
  i.icon.list.layout
  span.text(style='display: none;') MENU