h3 OAuth Hookup Area

a(href="https://api.instagram.com/oauth/authorize/?client_id=#{config.instagram.client_id}&response_type=code&redirect_uri=#{config.instagram.oauth_redirect_uri}")
  | Hook up instagram!

a(href="https://soundcloud.com/connect?client_id=#{config.soundcloud.client_id}&redirect_uri=#{config.soundcloud.redirect_uri}&response_type=code&scope=non-expiring")
  | Hook up Soundcloud